.orders {
    margin-bottom: 64px;
}

.orders__top {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--green);
}

.orders__header {
    text-transform: none;
    margin: 0 0 45px 0;
}

.orders__text {
    margin: 0;
}

.orders__bottom {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orders__image {
    width: 35vw;
    height: 35vw;
    min-width: 480px;
    min-height: 480px;
    margin-left: 5vw;
}

.orders__form {
    margin: 0 5vw;
    max-width: 928px;
    padding: 0;
    width: 100%;
}

.orders__form fieldset {
    border: none;
}

.orders__sender-data {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.orders__sender-data .orders__field:first-child {
    padding-right: 10px;
}

.orders__sender-data .orders__input {
    min-width: 150px;
    max-width: 20vw;
    padding: 0 6px;
}

.orders__field {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.orders__label {
    margin: 0 0 10px 4px;
    padding: 0;
    font-size: 0.55em;
    line-height: 1.5em;
    text-align: center;
}

.orders__input {
    margin: 0;
    font-family: "TildaSans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    border: 1px solid var(--orange);
    border-radius: 12px;
}

.orders__input:focus {
    outline: none;
}

.orders__text-body {
    margin: 0;
    padding: 0;
}

.orders__text-body .orders__input {
    width: 100%;
    height: 100%;
    padding: 6px;
}

.orders__submit {
    margin: 48px 0 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.orders__button {
    font-size: 0.69em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    background-color: white;
    font-family: "TildaSans", sans-serif;
    padding: 15px 40px;
}

@media(max-width: 1100px) {
    .orders__bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .orders__image {
        margin: 0;
        width: 65vw;
        height: 65vw;
    }

    .orders__sender-data {
        justify-content: flex-start;
    }
}

@media(max-width: 550px) {
    .orders__image {
        min-width: 380px;
        min-height: 380px;
    }

    .orders__sender-data{
        flex-direction: column;
    }

    .orders__sender-data 
    .orders__input  {
        max-width: 100%;
        min-width: 0;
    }
}

@media(max-width: 395px) {
    .orders__image {
        min-width: 300px;
        min-height: 300px;
    }
}