:root {
    --green: #5DD9C8;
    --violet: #8063A6;
    --orange: #FF9235;
    --darck: #141C3A;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "TildaSans", sans-serif;
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 400;
    line-height: 54px;
    color: var(--darck);
    margin: 0;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
}

a, button {
    cursor: pointer;
}

.btn {
    color: var(--orange) !important;
    border: 2px solid var(--orange);
    border-radius: 15px;
}

.btn:hover {
    background-color: var(--orange);
    color: white !important;
}

.icon-hover {
    display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media(max-width: 900px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}